.post__form {
  position: fixed;
  top: 50%;
  background-color: #fff;
  padding: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.post__image {
  width: 100%;
}

.cancel {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
